<%- include('../_partial/_header'); -%>


<div class="row">
    <link rel="stylesheet" href="/public/style.css"> 
    <div class="col-md-12">
        <div class="panel panel-default">
           <div class="panel-body">
             <div class="table-data">
                 <h2>My Communications</h2>
                        
          
                </table>
                
            
                     </div>
           </div>
        </div>
    </div>
 </div>


<%- include ('../_partial/_footer'); -%>
